<center><h1><u><%= @item.name %></u></h1>

<h3>Description: <br>
  <%= @item.description %>
</h3>

<h3>Condition: <br>
  <%= @item.condition %>
</h3>

<h3>Auction ends at: <br>
  <%= date_and_time(@item.ends_at) %>
</h3>


<h1><u>Lets bid on it!</u></h1>

<p>Number of bids: <%= @item.bids.count %></p>

<% if !@item.bidders.include?(current_user) %>

 <%= erb :"bids/new", layout: false, locals: { item: @item }  %>

<% else %>
  <p>You have already placed a bid on this item! You bid $ <%= @bid.amount %> on <%= date_and_time(@bid.bid_date)  %><br>Thanks for bidding!
  </p>



<% end %>
</center>